<div class="card fixed_height_160">
    <div class="header">
        <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm">
                <button data-toggle="dropdown" class="dropdown-toggle btn btn-sm btn-simple">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a (click)="InitTestAccount()" href="javascript:;">Test</a></li>
                    <li><a (click)="InitChangePassword()" href="javascript:;">Change Password</a></li>
                    <li class="divider"></li>
                    <li><a (click)="InitDeletion()" href="javascript:;">Delete</a></li>
                </ul>
            </div>
        </div>
        <h4 class="title truncate">
            <i class="fa fa-user-circle"></i>
            Trade account
        </h4>
    </div>
    <div class="content">
        <ul class="list-unstyled">
            <li>Login: {{Account.Login}}</li>
            <li>Server: {{Account.Server}}</li>
        </ul>
    </div>

    <overlay-cmp *ngIf="ChangePasswordEnabled">
        <account-change-password-cmp [Account]="Account" (OnChanged)="PasswordChangedOrCnaceled()" (OnCanceled)="PasswordChangedOrCnaceled()"></account-change-password-cmp>
    </overlay-cmp>

    <overlay-cmp *ngIf="TestAccountEnabled">
        <account-test-cmp [Account]="Account" (OnCanceled)="TestCanceled()"></account-test-cmp>
    </overlay-cmp>

    <overlay-cmp *ngIf="ConfirmDeletionEnabled">
       <account-delete-cmp [Account]="Account" (OnCanceled)="DeletionCanceled()" (OnDeleted)="DeletionCompleted($event)"></account-delete-cmp>
    </overlay-cmp>
</div>


