<div class="text-center">
    <div *ngIf="!ChangePasswordRequest">
        <form [formGroup]="ChangePasswordForm" novalidate>
            <div class="form-group">
                <input formControlName="Password" type="password" class="form-control " placeholder="Type new password..." />
                <div *ngIf="ChangePasswordForm.controls.Password.invalid && ChangePasswordForm.controls.Password.touched" class="alert alert-danger">
                    <span>{{ 'FieldIsRequired' | resx: ['Password'] }}</span>
                </div>
            </div>
            <button [disabled]="ChangePasswordForm.invalid" (click)="ChangePassword(ChangePasswordForm.value.Password)" class="btn btn-primary">Save</button>
            <button (click)="Cancel()" class="btn btn-danger">Cancel</button>
        </form>
    </div>
    <div *ngIf="ChangePasswordRequest && ChangePasswordRequest.IsRunning">
        <span class="fa fa-circle-o-notch fa-spin black"></span>
        Changing password ...
    </div>
    <div *ngIf="ChangePasswordRequest && ChangePasswordRequest.IsFaulted && ChangePasswordRequest.Error.Handled">
        <p class="text-error">
            {{TestRequest.Error.Message}}
        </p>
        <button (click)="Cancel()" class="btn btn-danger">Ok</button>
    </div>
</div>