@{
    ViewData["Title"] = "Home Page";
}

<app>
    <div id="loader" style="width:150px;">
        L O A D I N G . . .
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="signalr/hubs"></script>
}
