<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card max_height_600">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#uploadPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>

                        <h4 class="title truncate">
                            Upload Algo Package
                        </h4>

                    </div>
                    <div id="uploadPanel" class="content vertical-autoscroll_600 collapse in">
                        <div class="form-group">
                            <div class="input-group">
                                <input [ngModel]="selectedFileName" type="text" class="form-control" readonly placeholder="Select the file">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary btn-fill">
                                        <i class="fa fa-folder-o"></i>
                                        <input (change)="onFileInputChange($event)" type="file" style="display: none;" accept=".ttalgo">
                                    </span>
                                </label>
                            </div>

                        </div>
                        <div *ngIf="uploadStatus" class="form-group">
                            <span class="text-error">{{uploadStatus.message}}</span>
                        </div>

                        <div class="pull-right">
                            <button [disabled]="!canUpload" (click)="uploadPackage()" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div *ngFor="let package of packages |  orderBy: ['name']; let pIndex = index;" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <package-card-cmp [package]="package" (onDelete)="deletePackage($event)"></package-card-cmp>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
