<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="auth.config" type="TickTrader.BotTerminal.AuthConfigSection, TickTrader.BotTerminal" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TickTrader.BotTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <auth.config>
    <servers>
      <server name="Soft-Fx Development" short="DEV" address="tp.dev.soft-fx.eu" color="#009245" />
      <server name="Soft-Fx Staging" short="STG" address="tp.st.soft-fx.eu" color="#0075D8" />
      <server name="Soft-Fx Demo" short="Demo" address="ttdemo.soft-fx.com" color="#F15923" />
      <server name="Soft-Fx Staging Exchange" short="Crypto STG" address="exchange.tts.st.soft-fx.eu" color="#0075D8" />
      <server name="Soft-Fx Demo Exchange" short="Crypto Demo" address="ttdemoexchange.soft-fx.com" color="#F15923" />
    </servers>
  </auth.config>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.4.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TickTrader.BusinessObjects" publicKeyToken="f93e83ea42ea164d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.27.8.0" newVersion="1.27.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TickTrader.Common" publicKeyToken="f93e83ea42ea164d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.6.0" newVersion="1.25.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TickTrader.BusinessLogic" publicKeyToken="f93e83ea42ea164d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.27.5.0" newVersion="1.27.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <TickTrader.BotTerminal.Properties.Settings>
      <setting name="EnableFixLogs" serializeAs="String">
        <value>False</value>
      </setting>
    </TickTrader.BotTerminal.Properties.Settings>
  </applicationSettings>
</configuration>