<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="auth.config" type="TickTrader.BotTerminal.AuthConfigSection, TickTrader.AlgoTerminal" />
    <section name="protocol.config" type="TickTrader.BotTerminal.ProtocolConfigSection, TickTrader.AlgoTerminal" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TickTrader.BotTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <auth.config>
    <servers>
      <server name="Soft-Fx Development" short="DEV" address="tp.dev.soft-fx.eu" color="#009245" />
      <server name="Soft-Fx Demo" short="Demo" address="ttdemo.soft-fx.com" color="#F15923" />
      <server name="Soft-Fx Staging Exchange" short="Crypto STG" address="exchange.tts.st.soft-fx.eu" color="#0075D8" />
      <server name="Soft-Fx Demo Exchange" short="Crypto Demo" address="ttdemoexchange.soft-fx.com" color="#F15923" />
      <server name="Soft-Fx Staging Alpha" short="Alpha STG" address="alpha.tts.st.soft-fx.eu" color="#0075D8" />
      <server name="Soft-Fx Staging Beta" short="Beta STG" address="beta.tts.st.soft-fx.eu" color="#0075D8" />
    </servers>
  </auth.config>
  <protocol.config>
    <logs logMessages="false" />
    <servers>
      <server name="AlgoServer Staging Load New" address="ba_load.st.soft-fx.eu" port="8443" />
      <server name="Local AlgoServer" address="localhost" port="15443" />
    </servers>
  </protocol.config>
  <applicationSettings>
    <TickTrader.BotTerminal.Properties.Settings>
      <setting name="EnableConnectionLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDevMode" serializeAs="String">
        <value>False</value>
      </setting>
    </TickTrader.BotTerminal.Properties.Settings>
  </applicationSettings>
</configuration>
