<div class="card">
    <div class="header">
        <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm">
                <button (click)="InitDeletion()" type="button" class="btn btn-simple">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
        <h4 class="title truncate">
            <i class="{{Package.Icon}}"></i>
            {{Package.Name}}
        </h4>

    </div>
    <div class="content">
        <ul *ngIf="Package.IsValid" class="list-unstyled">
            <li *ngFor="let plugin of Package.Plugins |  orderBy: ['DisplayName']" class="card-text">
                <strong [innerHTML]="plugin.Icon"></strong>
                {{plugin.DisplayName}}
            </li>
        </ul>
        <p *ngIf="!Package.IsValid"><span class="text-error">Invalid Package format</span></p>
        <div class="footer">
            <hr>
            <div class="stats">
                <i class="fa fa-clock-o"></i> Uploaded: {{Package.Created | date:'short'}}
            </div>
        </div>
    </div>

    <overlay-cmp *ngIf="ConfirmDeletionEnabled">
        <delete-package-cmp [Package]="Package" (OnCanceled)="DeletionCanceled()" (OnDeleted)="DeletionCompleted($event)"></delete-package-cmp>
    </overlay-cmp>
</div>


