<div *ngIf="bot">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Account</label>
                <select [ngModel]="bot.account" class="form-control">
                    <option></option>
                    <option>111011 - [Server]</option>
                    <option>62421 - [Server]</option>
                    <option>827131 - [Server]</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Symbol</label>
                <select [ngModel]="bot.symbol" class="form-control">
                    <option></option>
                    <option>EURUSD</option>
                    <option>CADUSD</option>
                    <option>BITUSD</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Instance ID</label>
                <input [(ngModel)]="bot.instanceId" type="text" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let param of bot.setup.parameters" [ngSwitch]="param.type" class="col-md-6">
            <div  class="form-group">
                <label>{{param.displayName}}</label>
                <input *ngSwitchCase="parameterType.String" type="text" class="form-control" [(ngModel)]="param.value" />
                <input *ngSwitchCase="parameterType.Number" type="number" class="form-control" [(ngModel)]="param.value" />
            </div>
        </div>
    </div>
</div>