<div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Bot</label>
                <select [ngModel]="selectedBot" (ngModelChange)="onBotSelected($event)" class="form-control">
                    <option *ngFor="let bot of (allBots | orderBy: ['name'])" [ngValue]="bot">{{bot.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <bot-settings-cmp [bot]="bot"></bot-settings-cmp>

    <div>
        <div class="pull-right">
            <button (click)="addBot(bot)" class="btn btn-primary" type="submit">Add</button>
            <button (click)="cancel()"  class="btn btn-primary" type="submit">Cancel</button>
        </div>
    </div>
</div>
