<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div class="card max_height_600">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#quickRunContent" aria-expanded="true" aria-controls="collapseExample">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>

                        <h4 class="title truncate">
                            Quick run
                        </h4>

                    </div>
                    <div id="quickRunContent" class="content vertical-autoscroll_600 collapse in">
                       <bot-run-cmp></bot-run-cmp>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div *ngFor="let bot of dashboardBots | async | orderBy: ['-isActive', 'name'] " class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="card">
                            <div (click)="gotoDetails(bot)" class="header">
                                <h4 class="title truncate">
                                    <i class="fa fa-circle offline" [ngClass]="{'online': bot.isActive}"></i>
                                    {{bot.instanceId}}
                                </h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li class="card-text">Account: ...</li>
                                    <li class="card-text">Server: ...</li>
                                    <li class="card-text">Symbol: ...</li>
                                </ul>
                                <div class="footer">
                                    <hr />
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group btn-group-sm btn-group-justified">
                                            <a (click)="run(bot)" [class.disabled]="!(bot.state === botStateType.Stopped)" class="btn btn-simple"><span class="fa fa-play"></span></a>
                                            <a (click)="stop(bot)" [class.disabled]="!(bot.state === botStateType.Runned)" class="btn btn-simple"><span class="fa fa-stop"></span></a>
                                            <a (click)="configurate(bot)" [class.disabled]="!(bot.state === botStateType.Stopped)" class="btn btn-simple"><span class="fa fa-cogs"></span></a>
                                            <a (click)="remove(bot)" [class.disabled]="!(bot.state === botStateType.Stopped)" class="btn btn-simple"><span class="fa fa-remove"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="bot.state === botStateType.Running || bot.state === botStateType.Stopping" class="overlay">
                                <div class="overlay-content">
                                    <span class="fa fa-circle-o-notch fa-spin black"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
