<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div *ngIf="Bot" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div  class="card max_height_400">
                    <div class="header">
                        <h4 class="title">
                            <i class="fa fa-circle" [ngClass]="{'state-offline': Bot.IsOffline, 'state-connecting': Bot.IsProcessing , 'state-faulted': Bot.Faulted, 'state-online': Bot.IsOnline }"></i>
                            {{Bot.Id}}
                        </h4>
                        <p class="category">{{TradeBotState[Bot.State]}}</p>
                    </div>
                    <div id="botLogPanel" class="content">
                        <div class="btn-group btn-group-justified">
                            <a (click)="Start()" [class.disabled]="!Bot.CanStart" class="btn btn-simple"><span class="fa fa-play" [ngClass]="{'text-success': Bot.CanStart}"></span></a>
                            <a (click)="Stop()" [class.disabled]="!Bot.CanStop" class="btn btn-simple"><span class="fa fa-stop" [ngClass]="{'text-error': Bot.CanStop}"></span></a>
                            <a (click)="Configurate(TradeBot.Id)" [class.disabled]="!Bot.CanConfigurate" class="btn btn-simple"><span class="fa fa-edit" [ngClass]="{'text-info': Bot.CanConfigurate}"></span></a>
                            <a class="btn btn-simple"><span class="fa fa-remove"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="Bot" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#botInfoPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <h4 class="title">
                            {{Bot.Id}}
                        </h4>
                    </div>
                    <div *ngIf="Bot" id="botInfoPanel" class="content vertical-autoscroll_600 collapse in">
                        <div class="typo-line">
                            <h6>
                                <p class="category">Plugin Info</p>
                            </h6>
                            <ul class="list-unstyled">
                                <li>Package: {{Bot.PackageName}}</li>
                                <li>Bot: {{Bot.BotName}}</li>
                            </ul>
                        </div>
                        <div class="typo-line">
                            <h6>
                                <p class="category">Account</p>
                            </h6>
                        </div>
                        <ul class="list-unstyled">
                            <li>Login: {{Bot.Account.Login}}</li>
                            <li>Server: {{Bot.Account.Server}}</li>
                        </ul>
                        <div class="typo-line">
                            <h6>
                                <p class="category">Parameters</p>
                            </h6>
                        </div>
                        <ul class="list-unstyled">
                            <li>Symbol: {{Bot.Config.Symbol}}</li>
                            <li *ngFor="let param of Bot.Config.Parameters">{{param.Descriptor.DisplayName}}: {{param.Value}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#botStatusPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <h4 class="title">
                            Status
                        </h4>
                    </div>
                    <div *ngIf="Bot" id="botStatusPanel" class="content  collapse in">
                        <textarea class="form-control" style="max-height:350px; border: none; resize:vertical; margin: 0px; padding: 0px;" placeholder="Bot status..." rows="5">
                            {{Bot.Status}}
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card max_height_400">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#botLogPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <h4 class="title">
                            Log
                        </h4>
                    </div>
                    <div id="botLogPanel" class="content vertical-autoscroll_600 collapse in">
                        {{Log | json}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
