<div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Bot</label>
                <select class="form-control" [(ngModel)]="SelectedPlugin" (ngModelChange)="onPluginSelected($event)">
                    <optgroup *ngFor="let Package of (Packages | orderBy: ['Name'])" label="{{Package.Name}}">
                        <option *ngFor="let Plugin of (Package.Plugins | orderBy: ['DisplayName'])" [ngValue]="Plugin">{{Plugin.DisplayName}}</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
    <plugin-setup-cmp [Setup]="Setup" [Accounts]="Accounts"></plugin-setup-cmp>

    <div>
        <div class="pull-right">
            <button [class.disabled]="!Setup" (click)="addBot(bot)" class="btn btn-primary" type="submit">Add</button>
            <button [class.disabled]="!Setup" (click)="cancel()" class="btn btn-primary" type="submit">Cancel</button>
        </div>
    </div>
</div>
