<div class="row">
    <div class="col-md-12">
        <form [formGroup]="BotSetupForm" novalidate>
            <bot-parameters-cmp [Setup]="Setup" [BotSetupForm]="BotSetupForm" [Accounts]="Accounts"></bot-parameters-cmp>
            <div class="pull-right">
                <button [disabled]="!Setup || BotSetupForm.invalid" (click)="applyConfig(bot)" class="btn btn-primary" type="submit">Save</button>
                <button [class.disabled]="!Setup" (click)="cancel()" class="btn btn-primary" type="submit">Cancel</button>
            </div>
        </form>
    </div>
</div>





