<div class="row">
    <div class="col-md-12">
        <form [formGroup]="BotSetupForm" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Instance ID</label>
                        <input formControlName="InstanceId" type="text" class="form-control" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Account</label>
                        <input formControlName="Account" class="form-control" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Symbol</label>
                        <select [(ngModel)]="Setup.Symbol" formControlName="Symbol" class="form-control">
                            <option *ngFor="let Symbol of (Symbols | orderBy)" [ngValue]="Symbol">{{Symbol}}</option>
                        </select>
                        <p *ngIf="!AccountInfoRequest.IsCompleted" class="category">Loading...</p>
                        <div *ngIf="BotSetupForm.controls.Symbol.invalid && BotSetupForm.controls.Symbol.touched" class="alert alert-danger">
                            <span>{{ 'FieldIsRequired' | resx: ['Symbol'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <bot-parameters-cmp [Setup]="Setup" [BotSetupForm]="BotSetupForm"></bot-parameters-cmp>
            <div class="pull-right">
                <button [disabled]="!Setup || BotSetupForm.invalid" (click)="SaveConfig(bot)" class="btn btn-primary" type="submit">Save</button>
                <button (click)="Cancel()" class="btn btn-primary" type="submit">Cancel</button>
            </div>
        </form>
    </div>
</div>





