<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <bot-add-cmp *ngIf="IsCreateMode" (OnAdded)="OnAdded($event)"></bot-add-cmp>
                <bot-setup-cmp *ngIf="IsEditMode" [TradeBot]="Bot" (OnSaved)="OnSaved()"></bot-setup-cmp>
                <div *ngIf="ErrorMessage">
                    <div class="card">
                        <div class="header">
                            <h4 class="title truncate">
                                Error
                            </h4>
                        </div>
                        <div id="reconfigurateBot" class="content">
                            {{ErrorMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>