<div class="card">
    <div class="header">
        <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm">
                <a (click)="InitDeletion()" [class.disabled]="!CanDelete" class="btn btn-simple">
                    <i class="fa fa-remove"></i>
                </a>
            </div>
        </div>
        <h4 class="title truncate">
            <i class="fa fa-circle" [ngClass]="{'state-offline': IsOffline, 'state-connecting': IsProcessing , 'state-faulted': Faulted || Broken, 'state-online': IsOnline }"></i>
            <a (click)="GoToDetails(TradeBot.Id)" href="javascript:;">
                {{TradeBot.Id}}
            </a>
        </h4>
        <p class="category">{{TradeBotState[TradeBot.State]}}</p>
    </div>
    <div class="content">
        <ul class="list-unstyled">
            <li class="card-text">Account: {{TradeBot.Account.Login}}</li>
            <li class="card-text">Server: {{TradeBot.Account.Server}}</li>
            <li *ngIf="Faulted || Broken" class="card-text text-error">{{TradeBot.FaultMessage | resx}}</li>
        </ul>
        <div class="footer">
            <hr />
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-sm btn-group-justified">
                    <a (click)="Start()" [class.disabled]="!CanStart" class="btn btn-simple"><span class="fa fa-play" [ngClass]="{'text-success': CanStart}"></span></a>
                    <a (click)="Stop()" [class.disabled]="!CanStop" class="btn btn-simple"><span class="fa fa-stop" [ngClass]="{'text-error': CanStop}"></span></a>
                    <a (click)="Configurate(TradeBot.Id)" [class.disabled]="!CanConfigurate" class="btn btn-simple"><span class="fa fa-edit" [ngClass]="{'text-info': CanConfigurate}"></span></a>
                </div>
            </div>
        </div>
    </div>

    <overlay-cmp *ngIf="ConfirmDeletionEnabled">
        <bot-delete-cmp [Bot]="TradeBot" (OnCanceled)="DeletionCanceled()" (OnDeleted)="DeletionCompleted($event)"></bot-delete-cmp>
    </overlay-cmp>
</div>
