<div *ngIf="Setup">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Instance ID</label>
                <input [(ngModel)]="Setup.InstanceId" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Account</label>
                <select [(ngModel)]="Setup.Account" (ngModelChange)="OnAccountChanged($event)" class="form-control">
                    <option *ngFor="let Account of Accounts" [ngValue]="Account">{{Account.Login}}-{{Account.Server}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Symbol</label>
                <select [(ngModel)]="Setup.Symbol" class="form-control">
                    <option *ngFor="let Symbol of (Symbols | orderBy)" [ngValue]="Symbol">{{Symbol}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let Parameter of Setup.Parameters" [ngSwitch]="Parameter.Descriptor.DataType" class="col-md-6">
            <div class="form-group">
                <label>{{Parameter.Descriptor.DisplayName}}</label>
                <input *ngSwitchCase="ParameterDataType.Int" type="number" step="1" class="form-control" [(ngModel)]="Parameter.Value" />
                <input *ngSwitchCase="ParameterDataType.Double" type="number" class="form-control" [(ngModel)]="Parameter.Value" />
                <input *ngSwitchCase="ParameterDataType.String" type="text" class="form-control" [(ngModel)]="Parameter.Value" />
                <div *ngSwitchCase="ParameterDataType.File" class="input-group">
                    <input *ngIf="Parameter.Value" [ngModel]="Parameter.Value.FileName" type="text" class="form-control" placeholder="Select the file" readonly>
                    <input *ngIf="!Parameter.Value" type="text" class="form-control" placeholder="Select the file" readonly>
                    <label class="input-group-btn">
                        <span class="btn btn-primary btn-fill">
                            <i class="fa fa-folder-o"></i>
                            <input [(fileModel)]="Parameter.Value"  type="file" style="display: none;" accept="Parameter.Descriptor.FileFilter">
                        </span>
                    </label>
                </div>
                <select *ngSwitchCase="ParameterDataType.Enum" [(ngModel)]="Parameter.Value" class="form-control">
                    <option *ngFor="let EnumItem of (Parameter.Descriptor.EnumValues | orderBy)" [ngValue]="EnumItem">{{EnumItem}}</option>
                </select>
                <input *ngSwitchDefault type="text" readonly value="Unsupported property type" class="form-control"/>
            </div>
        </div>
    </div>
</div>