<div class="card">
    <div class="header">
        <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm">
                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:;">Edit</a></li>
                    <li><a href="javascript:;">Delete</a></li>
                </ul>
            </div>
        </div>
        <h4 class="title truncate">
            Account Login
        </h4>
    </div>
    <div class="content">
        <p>Account Info</p>
    </div>

    <overlay-cmp *ngIf="false">
        <div class="row text-center">
            <div class="form-group">
                <p>Delete?</p>
            </div>
            <div class="row">
                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                    <button (click)="Delete()" class="btn btn-primary btn-fill">Delete</button>
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6">
                    <button (click)="showConfirm=false" class="btn btn-danger btn-fill">Cancel</button>
                </div>
            </div>
        </div>
    </overlay-cmp>
</div>


