<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div *ngIf="Bot">
                    <div class="card max_height_400">
                        <div class="header">
                            <h4 class="title">
                                <i class="fa fa-circle" [ngClass]="{'state-offline': IsOffline, 'state-connecting': IsProcessing , 'state-faulted': Faulted || Broken, 'state-online': IsOnline }"></i>
                                {{Bot.Id}}
                            </h4>
                            <p class="category">{{TradeBotState[Bot.State]}}</p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li *ngIf="Faulted || Broken" class="card-text text-error">{{Bot.FaultMessage | resx}}</li>
                            </ul>
                            <div class="btn-group btn-group-justified">
                                <a (click)="Start(Bot.Id)" [class.disabled]="!CanStart" class="btn btn-simple"><span class="fa fa-play" [ngClass]="{'text-success': CanStart}"></span></a>
                                <a (click)="Stop(Bot.Id)" [class.disabled]="!CanStop" class="btn btn-simple"><span class="fa fa-stop" [ngClass]="{'text-error': CanStop}"></span></a>
                                <a (click)="Configurate(Bot.Id)" [class.disabled]="!CanConfigurate" class="btn btn-simple"><span class="fa fa-edit" [ngClass]="{'text-info': CanConfigurate}"></span></a>
                                <a (click)="InitDeletion()" [class.disabled]="!CanDelete" class="btn btn-simple"><span class="fa fa-remove"></span></a>
                            </div>
                        </div>

                        <overlay-cmp *ngIf="ConfirmDeletionEnabled">
                            <bot-delete-cmp [Bot]="Bot" (OnCanceled)="DeletionCanceled()" (OnDeleted)="DeletionCompleted($event)"></bot-delete-cmp>
                        </overlay-cmp>
                    </div>
                </div>

                <div id="botConfiguration" *ngIf="Bot" class="card">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#botInfoPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <h4 class="title">
                            Information
                        </h4>
                    </div>
                    <div *ngIf="Bot" id="botInfoPanel" class="content vertical-autoscroll_600 collapse in">
                        <div class="typo-line">
                            <h6>
                                <p class="category">Plugin Info</p>
                            </h6>
                            <ul class="list-unstyled">
                                <li>Package: {{Bot.PackageName}}</li>
                                <li>Bot: {{Bot.BotName}}</li>
                            </ul>
                        </div>
                        <div class="typo-line">
                            <h6>
                                <p class="category">Account</p>
                            </h6>
                        </div>
                        <ul class="list-unstyled">
                            <li>Login: {{Bot.Account.Login}}</li>
                            <li>Server: {{Bot.Account.Server}}</li>
                        </ul>
                        <div class="typo-line">
                            <h6>
                                <p class="category">Parameters</p>
                            </h6>
                        </div>
                        <ul class="list-unstyled">
                            <li>Isolated: {{Bot.Permissions.Isolated}}</li>
                            <li>Allow trade: {{Bot.Permissions.TradeAllowed}}</li>
                            <li>Symbol: {{Bot.Config.Symbol}}</li>
                            <li *ngFor="let param of Bot.Config.Parameters">{{param.Descriptor ? param.Descriptor.DisplayName : param.Id}}: {{param.Value}}</li>
                        </ul>
                    </div>
                </div>

                <div id="botStatus" class="card">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#botStatusPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <h4 class="title">
                            Status
                        </h4>
                    </div>
                    <div id="botStatusPanel" class="content vertical-autoscroll_400  collapse in">
                        <div *ngIf="StatusRequest.IsRunning">
                            <span class="fa fa-circle-o-notch fa-spin black"></span>
                            Loading ...
                        </div>
                        <div *ngIf="StatusRequest.IsFaulted">
                            <span class="text-error">Failed to get status message</span>
                        </div>
                        <div *ngIf="StatusRequest.IsCompleted && Status">
                            <textarea class="form-control" style="max-height:350px; border: none; resize:none; margin: 0px; padding: 0px;" placeholder="Bot status..."
                                      rows="15">{{Status}}</textarea>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div id="logMessages" class="card">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#botLogPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <h4 class="title">
                            Log
                        </h4>
                        <p class="category">Last 100 messages</p>
                    </div>
                    <div id="botLogPanel" class="content vertical-autoscroll_600 collapse in">
                        <div *ngIf="LogRequest.IsRunning">
                            <span class="fa fa-circle-o-notch fa-spin black"></span>
                            Loading ...
                        </div>
                        <div *ngIf="LogRequest.IsFaulted">
                            <span class="text-error">Failed to get history</span>
                        </div>

                        <div *ngIf="LogRequest.IsCompleted && !LogRequest.IsFaulted">
                            <div class="table-responsive vertical-autoscroll_400">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th class="text-left">Message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let logEntry of Log.Snapshot">
                                            <td width="180px">
                                                <i class="fa fa-circle" [ngClass]="{'log-info': logEntry.Type === LogEntryType.Info, 'log-trade': logEntry.Type === LogEntryType.Trade , 'log-error': logEntry.Type === LogEntryType.Error, 'log-custom': logEntry.Type === LogEntryType.Custom, 'log-trade-success': logEntry.Type === LogEntryType.TradeSuccess, 'log-trade-fail': logEntry.Type === LogEntryType.TradeFail, 'log-alert': logEntry.Type == LogEntryType.Alert}"></i>
                                                {{logEntry.Time | date:'dd/MM/y HH:mm:ss'}}
                                            </td>
                                            <td class="text-left">
                                                {{logEntry.Message}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="logFiles" class="card">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#logFilesPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <h4 class="title">
                            Log files
                        </h4>
                    </div>
                    <div id="logFilesPanel" class="content collapse in">
                        <div *ngIf="LogRequest.IsRunning">
                            <span class="fa fa-circle-o-notch fa-spin black"></span>
                            Loading ...
                        </div>
                        <div *ngIf="LogRequest.IsFaulted">
                            <span class="text-error">Failed to get log files</span>
                        </div>
                        <div *ngIf="Bot && LogRequest.IsCompleted && !LogRequest.IsFaulted">
                            <div class="table-responsive vertical-autoscroll_400">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>File</th>
                                            <th>Size</th>
                                            <!--<th class="text-right">Actions</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let logFile of Log.Files">
                                            <td><a [href]="DonwloadLogLink(Bot.Id, logFile.Name)">{{logFile.Name}}</a></td>
                                            <td>{{logFile.FormattedSize}}</td>
                                            <!--<td class="td-actions text-right">
                                                <button (click)="DeleteLogFile(Bot.Id, logFile.Name)" type="button" rel="tooltip" title="Delete log file" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="algoDataFiles" class="card">
                    <div class="header">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-simple dropdown-toggle" data-toggle="collapse" data-target="#algoDataFilesPanel" aria-expanded="true">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                        <h4 class="title">
                            Working directory
                        </h4>
                    </div>
                    <div id="algoDataFilesPanel" class="content collapse in">
                        <div *ngIf="AlgoDataRequest.IsRunning">
                            <span class="fa fa-circle-o-notch fa-spin black"></span>
                            Loading ...
                        </div>
                        <div *ngIf="AlgoDataRequest.IsFaulted">
                            <span class="text-error">Failed to browse working directory</span>
                        </div>
                        <div *ngIf="Bot && AlgoDataRequest.IsCompleted && !AlgoDataRequest.IsFaulted">
                            <div class="table-responsive vertical-autoscroll_400">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th>File</th>
                                            <th>Size</th>
                                            <!--<th class="text-right">Actions</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let file of AlgoData">
                                            <td><a [href]="DonwloadAlgoDataLink(Bot.Id, file.Name)">{{file.Name}}</a></td>
                                            <td>{{file.FormattedSize}}</td>
                                            <!--<td class="td-actions text-right">
                                                <button (click)="DeleteAlgoDataFile(Bot.Id, logFile.Name)" type="button" rel="tooltip" title="Delete log file" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
