<div class="sidebar-wrapper">
    <div class="logo">
        <a [routerLink]="[SideMenuItems[0].path]" href="javascript:;" class="simple-text">
            <!--<div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>-->
            Algo Server
        </a>
    </div>
    <ul *ngIf="IsMobileMenu()" class="nav nav-mobile-menu">

        <li *ngFor="let mItem of TopMenuItems">
            <a [routerLink]="[mItem.path]">
                <i class="{{mItem.icon}}"></i>
                <p>{{mItem.title}}</p>
            </a>
        </li>

        <li *ngIf="TopMenuItems" class="separator hidden-lg hidden-md"></li>
    </ul>

    <ul class="nav">

        <li *ngFor="let mItem of SideMenuItems" class="nav-item" routerLinkActive="active">
            <a class="nav-item nav-link" [routerLink]="[mItem.path]">
                <i class="{{mItem.icon}}"></i>
                <p>{{mItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
