<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6">
                <div name="paramsstatus" class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title truncate">
                                    Parametrs
                                </h4>
                                <p class="category">Bot will run with these settings</p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled">
                                    <li *ngFor="let param of bot.setup.parameters" class="card-text">{{param.name}}: <var>{{param.value}}</var></li>
                                </ul>
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Updated 25 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title truncate">
                                    Status
                                </h4>
                                <p class="category">Some useful status for something</p>
                            </div>
                            <div class="content">
                                Some status...
                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Updated 5 seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="card">
                        <div class="header">
                            <h4 class="title truncate">
                                Journal
                            </h4>
                            <p class="category">Last 200 operations</p>
                        </div>
                        <div class="content ">
                            <div class="table-responsive table-full-width">
                                <table class='table table-hover'>
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2">Date</th>
                                            <th class="col-xs-10">Message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text">
                                                <span>21/09/2016 17:25:31.2452</span>
                                            </td>
                                            <td>Some message...</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10/09/2016 17:25:31.245
                                            </td>
                                            <td>Some message...</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10/09/2016 17:25:31.245
                                            </td>
                                            <td>Some message...</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10/09/2016 17:25:31.245
                                            </td>
                                            <td>Some message...</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10/09/2016 17:25:31.245
                                            </td>
                                            <td>Some message...</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10/09/2016 17:25:31.245
                                            </td>
                                            <td>Some message...</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10/09/2016 17:25:31.245
                                            </td>
                                            <td>Some message...</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                10/09/2016 17:25:31.245
                                            </td>
                                            <td>Some message...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> Updated 7 seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>