<div class="container-fluid">
    <form class="form-signin" role="form">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        Please sign in
                    </h4>
                </div>
                <div class="content">
                    <div class="form-group">
                        <input [(ngModel)]="Creds.Login" type="text" class="form-control" placeholder="Login" autofocus="" name="login">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="Creds.Password" type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <div *ngIf="LogInStatusMessage" class="alert alert-danger">
                            <span>{{LogInStatusMessage}}</span>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit" (click)="LogIn()">Sign in</button>
                </div>
            </div>
    </form>
</div>

<div class="page-footer">
    <footer-cmp></footer-cmp>
</div>
