<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="https://api.nuget.org/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAIpPubXQPMkq6Kq14VDg7ZgAAAAACAAAAAAADZgAAwAAAABAAAACGpxhhe+Nw12r6sfQjdmLvAAAAAASAAACgAAAAEAAAAA7ctRKofefd8XRK4zPv8FMoAAAABsdWYpF9TXsqEieiDgHa/yBJawNHx9LwOodv9hT4CknQD/z+WY14TRQAAACDb+vMzN4kNJIqiFCNUsVj+y61KQ==" />
  </apikeys>
</configuration>