<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn-flat btn-icon-sm  btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
                <span class="fa fa-ellipsis-v"></span>
            </button>

            <ul class="dropdown-menu pull-right pull-top" role="menu">
                <li><a href="javascript:;" class="btn-block">Run</a></li>
                <li><a href="javascript:;" class="btn-block">Stop</a></li>
                <li><a href="javascript:;" class="btn-block">Settings</a></li>
                <!--<li class="divider"></li>-->
                <li><a href="javascript:;" class="btn-block">Remove</a></li>
            </ul>
        </div>
    </div>

    <h3 class="truncate" [ngSwitch]="bot.isActive">
        <i *ngSwitchCase="true" class="fa fa-arrow-up online"></i>
        <i *ngSwitchCase="false" class="fa fa-arrow-down offline"></i>
        {{bot.instanceId}}
    </h3>
</div>

<div name="bot-configuration" *ngIf="selectedExtBot">
    <div class="form-group form-group-sm">
        <span>Instance ID</span>
        <input [(ngModel)]="selectedExtBot.instanceId" type="text" class="form-control" />
    </div>
    <div class="row">
        <div *ngFor="let param of selectedExtBot.setup.parameters" [ngSwitch]="param.type" class="form-group form-group-sm col-md-3">
            <span>{{param.displayName}}</span>
            <input *ngSwitchCase="parameterType.String" type="text" class="form-control" [(ngModel)]="param.value" />
            <input *ngSwitchCase="parameterType.Number" type="number" class="form-control" [(ngModel)]="param.value" />
        </div>
    </div>
    <div class="panel row">
        <div class="col-xs-6 col-md-6">
            <button (click)="addBot(selectedExtBot)" class="btn btn-sm btn-default btn-block">Add</button>
        </div>
        <div class="col-xs-6 col-md-6">
            <button (click)="cancel()" class="btn btn-sm btn-default btn-block">Cancel</button>
        </div>
    </div>
</div>

<div name="params" *ngIf="bot">
    <ul class="list-unstyled">
        <li *ngFor="let param of bot.setup.parameters">{{param.name}}: <var>{{param.value}}</var></li>
    </ul>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#status">Status</a></li>
    <li><a data-toggle="tab" href="#logs">Logs</a></li>
</ul>

<div class="tab-content">
    <div id="status" class="tab-pane fade in active">
        <h3>Status</h3>
        <p>Some content...</p>
    </div>
    <div id="logs" class="tab-pane fade">
        <h3>Logs</h3>
        <p>Some content...</p>
    </div>
</div>