<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <button [routerLink]="['/bot-add']" class="btn btn-sm btn-default">
                <span class="fa fa-plus"></span> Add
            </button>
        </div>

    </div>
    <h3 class="truncate">Dashboard</h3>
</div>

<div class="panel">
    <div class="row">
        <div *ngFor="let bot of dashboardBots | async | orderBy: ['-isActive', 'name'] " class="col-sm-3">
            <div class="card">
                <div (click)="gotoDetails(bot)" [ngSwitch]="bot.isActive" class="card-header">
                    <div class="truncate">
                        <i *ngSwitchCase="true" class="fa fa-arrow-up online"></i>
                        <i *ngSwitchCase="false" class="fa fa-arrow-down offline"></i>
                        {{bot.instanceId}}
                    </div>
                </div>
                <div class="card-block ">
                    <ul class="list-unstyled">
                        <li>Account: ...</li>
                        <li>Server: ...</li>
                        <li>Symbol: ...</li>
                    </ul>

                    <div>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-sm btn-group-justified">
                                <a (click)="run(bot)" [class.disabled]="!(bot.state === botStateType.Stopped)" class="btn btn-default"><span class="fa fa-play"></span></a>
                                <a (click)="stop(bot)" [class.disabled]="!(bot.state === botStateType.Runned)" class="btn btn-default"><span class="fa fa-stop"></span></a>
                                <a (click)="configurate(bot)" [class.disabled]="!(bot.state === botStateType.Stopped)" class="btn btn-default"><span class="fa fa-cogs"></span></a>
                                <a (click)="remove(bot)" [class.disabled]="!(bot.state === botStateType.Stopped)" class="btn btn-default"><span class="fa fa-remove"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="bot.state === botStateType.Running || bot.state === botStateType.Stopping" class="overlay">
                    <div class="overlay-content">
                        <span class="fa fa-circle-o-notch fa-spin black"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div>
    <div class="form-group">
        <button [routerLink]="['/bot-add']" class="btn btn-primary col-xs-12 col-md-offset-10 col-md-2">
            <span class="fa fa-plus"></span> Add
        </button>
    </div>
</div>-->
<!--<table class='table table-striped .table-condensed' *ngIf="dashboardBots">
    <thead>
        <tr>
            <th class="col-sm-1 col-md-1">State</th>
            <th class="col-sm-10 col-md-10">Instance ID</th>
            <th class="col-sm-1 col-md-1" style="min-width:60px"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bot of dashboardBots | async | orderBy: ['-isActive', 'name'] ">
            <td [ngSwitch]="bot.isActive">
                <i *ngSwitchCase="true" class="glyphicon glyphicon-circle-arrow-up" style="color: green"></i>
                <i *ngSwitchCase="false" class="glyphicon glyphicon-circle-arrow-down" style="color: red"></i>
            </td>
            <td><a (click)="gotoBot(bot)" class="black btn-block"><span>{{ bot.alias }}</span></a></td>
            <td [ngSwitch]="true">
                <div *ngSwitchCase="bot.state === botStateType.Stopped || bot.state === botStateType.Runned" class="btn-group pull-right">
                    <button (click)="runBot(bot)" *ngIf="bot.state === botStateType.Stopped" class="btn-xs btn btn-default">
                        <span class="fa fa-play"></span>
                    </button>
                    <button (click)="stopBot(bot)" *ngIf="bot.state === botStateType.Runned" class="btn-xs btn btn-default">
                        <span class="fa fa-stop"></span>
                    </button>
                    <button (click)="removeBot(bot)" *ngIf="bot.state === botStateType.Runned || bot.state == botStateType.Stopped" class="btn-xs btn btn-default">
                        <span class="fa fa-remove"></span>
                    </button>
                </div>
                <div *ngSwitchDefault class="pull-right">
                    <span class="fa fa-circle-o-notch fa-spin"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>-->
