<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--
    internalLogLevel="Warn"
    internalLogFile="c:\temp\internal-nlog.txt"
  -->
  
  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="logFile" fileName="${basedir}\logs\log-${shortdate}.log"
                layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message} ${exception}" />

    <target xsi:type="File" name="errorFile" fileName="${basedir}\logs\error-${shortdate}.log"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|  ${message} ${exception:format=toString}" />

    <target xsi:type="ColoredConsole"
         name="coloredConsole"
         layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|  ${message} ${exception}"
         useDefaultRowHighlightingRules="false"
         detectConsoleAvailable="true">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="coloredConsole">
      <filters>
        <when condition="level == LogLevel.Debug and (starts-with(logger, 'Microsoft') or starts-with(logger, 'System'))" action="Ignore"></when>
      </filters>
    </logger>

    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="logFile">
      <filters>
        <when condition="level == LogLevel.Debug and (starts-with(logger, 'Microsoft') or starts-with(logger, 'System'))" action="Ignore"></when>
      </filters>
    </logger>

    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
  </rules>
</nlog>