<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--
    internalLogLevel="Warn"
    internalLogFile="c:\temp\internal-nlog.txt"
  -->

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${currentDir}/Logs/" />
  <variable name="archiveDirectory" value="${currentDir}/Logs/Archives/" />

  <targets>

    <target name="fullLogWrapper" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="fullLogFile" fileName="${logDirectory}server-full.log"
              layout="${longdate}|${pad:padding=5:inner=${level}}|${logger}|${message} ${exception}"
              archiveFileName="${archiveDirectory}server-full-{#}.zip" archiveEvery="Day" archiveNumbering="Date"
              enableArchiveFileCompression="true" />
    </target>

    <target name="logWrapper" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="logFile" fileName="${logDirectory}server.log"
              layout="${longdate}|${pad:padding=5:inner=${level}}|${logger}|${message} ${exception:format=toString}"
              archiveFileName="${archiveDirectory}server-{#}.zip" archiveEvery="Day" archiveNumbering="Date"
              enableArchiveFileCompression="true" />
    </target>

    <target name="serverAlertWrapper" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="serverAlertFile" fileName="${logDirectory}alert-server.log"
              layout="${longdate}|${pad:padding=5:inner=${level}}|${logger}|${message} ${exception:format=toString}"
              archiveFileName="${archiveDirectory}alert-server-{#}.zip" archiveEvery="Day" archiveNumbering="Date"
              enableArchiveFileCompression="true" />
    </target>

    <target name="monitoringAlertWrapper" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="monitoringAlertFile" fileName="${logDirectory}alert-monitoring.log"
              layout="${longdate}|${pad:padding=5:inner=${level}}|${logger}|${message} ${exception:format=toString}"
              archiveFileName="${archiveDirectory}alert-monitoring-{#}.zip" archiveEvery="Day" archiveNumbering="Date"
              enableArchiveFileCompression="true" />
    </target>

    <target name="errorWrapper" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="errorFile" fileName="${logDirectory}server-error.log"
              layout="${longdate}|${pad:padding=5:inner=${level}}|${logger}|${message} ${exception:format=toString}"
              archiveFileName="${archiveDirectory}server-error-{#}.zip" archiveEvery="Day" archiveNumbering="Date"
              enableArchiveFileCompression="true" />
    </target>

    <target name="consoleWrapper" xsi:type="AsyncWrapper">
      <target xsi:type="ColoredConsole"
              name="coloredConsole"
              layout="${longdate}|${pad:padding=5:inner=${level}}|${logger}|${message} ${exception}"
              useDefaultRowHighlightingRules="false"
              detectConsoleAvailable="true">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
    </target>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="AlertManager" minlevel="Info">
      <logger name="*" minlevel="Warn" writeTo="serverAlertWrapper" final="true"/>
      <logger name="*" minlevel="Debug" writeTo="monitoringAlertWrapper" final="true"/>
    </logger>

    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="fullLogWrapper">
      <filters>
        <when condition="level == LogLevel.Debug and (starts-with(logger, 'Microsoft') or starts-with(logger, 'System'))" action="Ignore"></when>
      </filters>
    </logger>

    <logger name="*" minlevel="Debug" writeTo="consoleWrapper">
      <filters>
        <when condition="level == LogLevel.Debug and (starts-with(logger, 'Microsoft') or starts-with(logger, 'System'))" action="Ignore"></when>
        <when condition="level == LogLevel.Info and starts-with(logger, 'Microsoft.AspNetCore')" action="Ignore"></when>
      </filters>
    </logger>

    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="logWrapper">
      <filters>
        <when condition="level == LogLevel.Debug and (starts-with(logger, 'Microsoft') or starts-with(logger, 'System'))" action="Ignore"></when>
        <when condition="level == LogLevel.Info and starts-with(logger, 'Microsoft.AspNetCore')" action="Ignore"></when>
      </filters>
    </logger>

    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorWrapper" />

    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
  </rules>
</nlog>